%head
  %meta{charset: "UTF-8"}/
  %link{href: "scaffold.css", rel: "stylesheet", type: "text/css"}/
  %script{src: "js/underscore-min.js"}
  %script{src: "https://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js"}
  %link{href: "https://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css", rel: "stylesheet"}/
  %main{role: "main"}
  .container.displays
    .row
      .col-lg-12
        %h1 About
        %p 
        Brewhaha was constructed on the good virtues and thirstiness of three wise explorers.  They knew that there was not enough goodness in their beverage selection and decided to change that.  Brewhaha was founded in 1995 in order to provide change in the way that they Denver community experiences drinking.  Their phone app provides smart decision making with a built-in BAC calculator.  
        %h2 Drink Hard, but Drink Responsibly.  
        %br
        %address
        %strong BREWHAHA
        %br
        1062 Delaware St
        %br
        Denver, CO
        %br
        80223
        %br
        %abbr{title: "Phone"} P: 703-769-1350
  .div.col-lg-12.displays
    .div 
      .col-lg-4
        %h2 Contact Us
        %p
          Feel free to drop us a line.  We love hearing from our customers.  We promise we don't bite.
          %form.form-horizontal
            %fieldset
              %legend
              / Text input
              .control-group
                %label.control-label{for: "textinput"} Email
                .controls
                  %input#textinput.input-xlarge{name: "textinput", placeholder: "Email", required: "", type: "text"}
                / Text input
                .control-group
                  %label.control-label{for: "textinput"} Subject
                  .controls
                    %input#textinput.input-xlarge{name: "textinput", placeholder: "Subject", required: "", type: "text"}
                  / Textarea
                  .control-group
                    %label.control-label{for: "textarea"} Message
                    .controls
                      %textarea#textarea{name: "textarea"}
                  / Button
                  .control-group
                    %label.control-label{for: ""}
                    .controls
                      %button.btn.btn-primary{id: "", name: ""} send
    .div.col-lg-2
    .div
      %h2 Come Find Us
      .row
        .span8
          %iframe{frameborder: "0", height: "250", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://a.tiles.mapbox.com/v3/hot.map-ndseg0vk.html?secure=13/0/0", width: "600"}
          %br/
          %small
            %a{href: "https://a.tiles.mapbox.com/v3/hot.map-ndseg0vk.html?secure=13/0/0", style: "color:#0000FF;text-align:left"} View Larger Map
      
