.row
  .col-md-12
    %H2 Confirm Payment
.row
  .col-md-12
    %H3 Total: #{current_cart.price}
.row
  .col-md-4
    =link_to orders_path, role: "button", method: :post, class: "btn btn-large btn-primary btn-block review-buttons" do
      .review-button-1
        Confirm
  .col-md-4
    =link_to review_cart_path, role: "button", class: "btn btn-large btn-primary btn-block review-buttons" do
      .review-button-1
        Cancel
