// Place all the styles related to the Cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart {
  padding: 0;
  list-style: none;
}

.cart-item {
}

.review-buttons {
  height: 75px;
}

.review-button-1 {
  padding-top: 20px;
}

.review-button-2 {
  padding-top: 11px;
}

.push-left {
  padding-left: 20px;
}
