// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category {
  padding-left: 30px;
}

#table {
  width: 100%;
}

.drink-display {
  margin-top: 20px;
  height: 525px;
  overflow: scroll;
  margin-bottom: 15px;
}

.cart-alignment {
  padding-top: 95px;
}

.displays-container {
  padding: 0;
}
