- unless admin?
  =render :partial => '_index'
- else
  .row
    .col-md-12
      %h4 So many styles of beer, so little time...
      =render :partial => 'categories/nav'
      .drink-display
        .displays-container
          .displays.clearfix
            - @categories.each do |category|
              .category
                = render :partial => 'categories/listing', :locals => { :category => category }
