%nav.navbar.navbar-default.navbar-inverse{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.logo.navbar-brand{href: "/"} BrewHahA
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      - if current_customer
        %li
          %p.navbar-text
            Your current Blood Alcohol Content is:
            %span.bac
              = blood_alcohol
        %li
          = link_to "Order History", orders_path, method: :get
        %li
          = link_to "Logout", signout_path, method: :get
      - else
        %li
          = link_to "Login with Twitter", "/auth/twitter?use_authorize=true"

